<div class="container mt-5">
  <div class="row">
    <!-- Section Listes des étudiants -->
    <div class="col-md-9">
      <div class="flex items-center justify-between py-4 px-6 bg-gray-100 rounded-md shadow-md">
        <h4 class="text-xl font-semibold text-gray-800">Liste des élèves</h4>
        <a routerLink="/dash/register-student"
           class="text-sm bg-blue-500  text-decoration-none hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition duration-300">
          Ajouter un élève
        </a>
      </div>
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th scope="col">N°</th>
          <th scope="col">Photo</th> <!-- Nouvelle colonne pour la photo -->
          <th scope="col">Nom complet</th>
          <th scope="col">Classe</th>
          <th scope="col">Parents</th>
          <th scope="col">Telephone</th>
          <th scope="col">Date</th>
          <th scope="col">Voir</th>
        </tr>
        </thead>
        <tbody>
          @if (filteredStudents && filteredStudents.length !== 0) {
            @for (student of filteredStudents; track student; let i = $index) {
              <tr>
                <th scope="row">{{ i + 1 }}</th>
                <td>
                  <!-- Affichage de la photo -->
                  @if (student.photoPath != undefined) {
                    <img
                      ngSrc="{{ student.photoPath }}"
                      alt="{{ student.photoName }}" class="img-thumbnail" width="50" height="50">
                  } @else {
                    <img
                      src="images/no-profile.png"
                      alt="no-profile.png" class="img-thumbnail" width="50" height="50">
                  }
                </td>
                <td>{{ student.prenom +' '+ student.nom  }}</td>
                <td>{{ student.classe }}</td>
                <td>{{ student.prenomPere +' '+ student.nomPere  }}</td>
                <td>{{ student.tel1 }}</td>
                <td>01 oct 2024</td>
                <td class="text-red-400">
                  <a routerLink="/dash/detail-student/{{student.id}}" ><i class="fas fa-eye text-red-400"></i></a>
                </td>
              </tr>
            }
          } @else {
            Il y a pas d'élève !
          }
        </tbody>
      </table>

    </div>

    <!-- Section Filtre des étudiants -->
    <div class="col-md-3">
      <h4>Chercher un élève</h4>
      <form>
        <div class="form-group">
          <label for="studentName">Nom étudiants</label>
          <input type="text" class="form-control" id="studentName" placeholder="Nom étudiants" [(ngModel)]="searchName" name="studentName">
        </div>
        <div class="form-group">
          <label for="niveau" class="form-label">Niveau</label>
          <select class="form-select" id="niveau" [(ngModel)]="searchNiveau" name="niveau">
            <option value="1er cycle">1er cycle</option>
            <option value="2e cycle">2e cycle</option>
            <option value="Lycée">Lycée</option>
            <option value="Professoinel">Professoinel</option>
            <option value="École de santé">École de santé</option>
          </select>
        </div>
        <div class="form-group">
          <label for="class">Classe</label>
          <input type="text" class="form-control" id="class" placeholder="Classe" [(ngModel)]="searchClass" name="class">
        </div>
        @if (filteredStudents && filteredStudents.length === taile) {
          <button (click)="onSearch()"  class="btn btn-primary w-100">Rechercher</button>
        }@else{
          <button (click)="initEleve()"  class="btn btn-primary w-100">Réinitialiser la recheche</button>
        }
      </form>
    </div>
    
  </div>
</div>
