<div class="container mt-5">
  <div class="row">
    <!-- Section Listes des étudiants -->
    <div class="col-md-8">
      <div class="flex items-center justify-between py-4 px-6 bg-gray-100 rounded-md shadow-md">
        <h4 class="text-xl font-semibold text-gray-800">Liste des élèves</h4>
        <a routerLink="/dash/register-student" class="text-sm bg-blue-500  text-decoration-none hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition duration-300">
          Ajouter un élève
        </a>
      </div>
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th scope="col">N°</th>
          <th scope="col">Nom complet</th>
          <th scope="col">Classe</th>
          <th scope="col">Parents</th>
          <th scope="col">Paiement</th>
          <th scope="col">Date</th>
          <th scope="col">voir</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mohamed Coulibaly</td>
          <td>1 eme</td>
          <td>+223 00 00 00 00</td>
          <td><span class="badge badge-primary">NORMAL</span></td>
          <td>01 oct 2024</td>
          <td class="text-red-400">
            <a href="#"><i class="fas fa-eye text-red-400"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <!-- Section Filtre des étudiants -->
    <div class="col-md-4">
      <h4>Filtre les eveles par établissements</h4>
      <form>
        <div class="form-group">
          <label for="studentName">Nom étudiants</label>
          <input type="text" class="form-control" id="studentName" placeholder="Nom étudiants">
        </div>
        <div class="form-group">
          <label for="school">Établissements</label>
          <input type="text" class="form-control" id="school" placeholder="Établissements">
        </div>
        <div class="form-group">
          <label for="class">Classe</label>
          <input type="text" class="form-control" id="class" placeholder="Classe">
        </div>
        <button type="submit" class="btn btn-primary w-100">Rechercher</button>
      </form>
    </div>
  </div>
</div>
