<div class="p-2 border rounded shadow-sm bg-light">
  <ul class="list-group">
    @if (user!=undefined && user.roles!=undefined && user.roles[0] === 'ROLE_ADMIN') {
      @if (notifications.length !== 0) {
        @for (notification of notifications.slice(0, 8); track notification) {
          @if (!notification.data.register_student_id) {
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
              [routerLink]="['/dash/detail-student', notification.data?.id]"
              style="cursor: pointer;">
              {{ notification.message }}
              <span class="badge bg-info text-dark">Inscription</span>
            </li>
          } @else {
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
              [routerLink]="['/dash/detail-student', notification.data?.register_student_id]"
              style="cursor: pointer;">
              {{ notification.message }}

              <span class="badge bg-success text-white">Paiement</span>
            </li>
          }
        }
      } @else {
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <strong>
            Vous n'avez actuellement reçu aucune notification.
          </strong>

        </li>
      }
    } @else {
      @if (latePaymentStudent.length !== 0) {
        @for (student of latePaymentStudent; track student) {
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
            [routerLink]="['/dash/detail-student', student.id]"
            style="cursor: pointer;">
            {{ student.prenom }} {{ student.nom }} - {{ student.classe }}
            <span class="badge bg-danger text-white">retard</span>
          </li>
        }
      } @else {
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <strong>
            Aucun élève n’a de paiements en retard.
          </strong>

        </li>
      }
    }
  </ul>
</div>
