<div class="container">
  <div class="row justify-content-between">
    <div class="container p-4 shadow-md rounded">
      <div class="row justify-content-between mb-4">
        <div class="col-md-8">
          <div class="flex justify-between">
            <h5>Ajouter un nouveau étudiant</h5>
            <a href="#" class="btn btn-secondary">Retour</a>
          </div>
          <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
            <div class="row mb-3">
              <div class="col-md-4">
                <label for="prenom" class="form-label">Prénom</label>
                <input type="text" class="form-control" id="prenom" formControlName="prenom"
                       placeholder="Entrez le prénom">
              </div>
              <div class="col-md-4">
                <label for="nom" class="form-label">Nom</label>
                <input type="text" class="form-control" id="nom" formControlName="nom" placeholder="Entrez le nom">
              </div>
              <div class="col-md-4">
                <label for="dateN" class="form-label">Date de naissance</label>
                <input type="date" class="form-control" id="dateN" formControlName="dateNaissance">
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-4">
                <label for="prenomPere" class="form-label">Prénom du père</label>
                <input type="text" class="form-control" id="prenomPere" formControlName="prenomPere"
                       placeholder="Entrez le prénom du père">
              </div>
              <div class="col-md-4">
                <label for="nomPere" class="form-label">Nom du père</label>
                <input type="text" class="form-control" id="nomPere" formControlName="nomPere"
                       placeholder="Entrez le nom du père">
              </div>
              <div class="col-md-4">
                <label for="tel1" class="form-label">Numéro de téléphone</label>
                <input type="text" class="form-control" id="tel1" formControlName="tel1"
                       placeholder="Numéro de téléphone">
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-4">
                <label for="prenomMere" class="form-label">Prénom de la mère</label>
                <input type="text" class="form-control" id="prenomMere" formControlName="prenomMere"
                       placeholder="Entrez le prénom de la mère">
              </div>
              <div class="col-md-4">
                <label for="nomMere" class="form-label">Nom de la mère</label>
                <input type="text" class="form-control" id="nomMere" formControlName="nomMere"
                       placeholder="Entrez le nom de la mère">
              </div>
              <div class="col-md-4">
                <label for="tel2" class="form-label">Numéro de téléphone</label>
                <input type="text" class="form-control" id="tel2" formControlName="tel2"
                       placeholder="Numéro de téléphone">
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-2">
                <label for="niveau" class="form-label">Niveau</label>
                <select class="form-select" id="niveau" formControlName="niveau">
                  <option value="1er cycle">1er cycle</option>
                  <option value="2e cycle">2e cycle</option>
                  <option value="Lycée">Lycée</option>
                  <option value="Professoinel">Professoinel</option>
                  <option value="École de santé">École de santé</option>
                </select>
              </div>
              <div class="col-md-3">
                <label for="classe" class="form-label">Classe</label>
                <input type="text" class="form-control" id="classe" formControlName="classe"
                       placeholder="Entrez la classe">
              </div>

              <div class="col-md-2">
                <label for="prive" class="form-label">Privé</label>
                <select class="form-select" id="prive" formControlName="prive">
                  <option value="oui">Oui</option>
                  <option value="non">Non</option>
                </select>
              </div>

              <div class="col-md-2">
                <label for="transfere" class="form-label">Transfère</label>
                <select class="form-select" id="transfere" formControlName="transfere">
                  <option value="non">Non</option>
                  <option value="oui">Oui</option>
                </select>
              </div>

              <div class="col-md-3">
                <label for="matricule" class="form-label">Matricule</label>
                <input type="text" class="form-control" id="matricule" formControlName="matricule"
                       placeholder="Entrez le matricule">
              </div>
            </div>

            <button type="submit" class="btn btn-primary">Enregistrer</button>
          </form>
        </div>

        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <div class="flex items-center justify-center w-full">
            <label *ngIf="!previewUrl" for="photo"
                   class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer">
              <div class="flex flex-col items-center justify-center pt-5 pb-6">
                <p class="mb-2 text-sm text-gray-500">Image d'élève</p>
                <p class="text-xs text-gray-500">SVG, PNG, JPG ou GIF (MAX. 800x400px)</p>
              </div>
              <input id="photo" type="file" (change)="onFileChange($event)" class="hidden">
            </label>
            <!-- Image preview -->
            <div *ngIf="previewUrl" class="relative">
              <img [src]="previewUrl" alt="Aperçu de l'image" class="img-thumbnail" width="300" height="300">
              <!-- Icone poubelle -->
              <button (click)="removeImage()" class="absolute top-0 right-0 mt-2 mr-2  text-white p-2 rounded-full">
                  <i class="fas fa-trash-alt text-red-400"></i>
              </button>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
