<div class="container">
  <div class="row justify-content-between">
    <div class="col-md-7">
      <h5>Ajouter un nouveau étudiant</h5>
      <form>
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="nom" class="form-label">Nom</label>
            <input type="text" class="form-control" id="nom">
          </div>
          <div class="col-md-6">
            <label for="prenom" class="form-label">Prénom</label>
            <input type="text" class="form-control" id="prenom">
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label for="nomPere" class="form-label">Nom du père</label>
            <input type="text" class="form-control" id="nomPere">
          </div>
          <div class="col-md-6">
            <label for="nomMere" class="form-label">Nom de la mère</label>
            <input type="text" class="form-control" id="nomMere">
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label for="etablissement" class="form-label">Établissement</label>
            <input type="text" class="form-control" id="etablissement">
          </div>
          <div class="col-md-6">
            <label for="classe" class="form-label">Classe</label>
            <input type="text" class="form-control" id="classe">
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label for="status" class="form-label">Status étudiant</label>
            <input type="text" class="form-control" id="status">
          </div>
          <div class="col-md-6">
            <label for="numeroTransfer" class="form-label">Numéro de transfert</label>
            <input type="text" class="form-control" id="numeroTransfer">
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Enregistrer</button>
      </form>
    </div>
    <div class="col-md-5 d-flex justify-content-center align-items-center">

      <div class="flex items-center justify-center w-full">
        <label for="dropzone-file"
               class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
          <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
            </svg>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Image d'eleves</span>
            </p>
            <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
          </div>
          <input id="dropzone-file" type="file" class="hidden"/>
        </label>
      </div>
    </div>
  </div>
</div>
