@if(id===1){
  
  @if(loading){
    <button disabled
    (click)="onDelete()"
    class="absolute top-2 right-2 text-red-500 hover:text-red-700 focus:outline-none text-xl p-4"
    aria-label="Supprimer"
  >
    <i class="fas fa-times"></i>
  </button>
  }@else{
    <button
    (click)="onDelete()"
    class="absolute top-2 right-2 text-red-500 hover:text-red-700 focus:outline-none text-xl p-4"
    aria-label="Supprimer"
  >
    <i class="fas fa-times"></i>
  </button>
  }



<div class="max-w-md mx-auto p-6 bg-white rounded-lg shadow-md">
    <h2 class="text-xl font-semibold text-gray-800 mb-4">Téléverser un fichier Excel</h2>
   



    <form (submit)="onSubmit()" class="space-y-4">
      <label>
        Veuillez selectonner un fichier
      </label>
      <input
        type="file"
        accept=".xls, .xlsx, .ods"
        (change)="onFileSelected($event)"
        class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100"
      />
      @if (!loading) {
      <button
        type="submit"
        [disabled]="!selectedFileExcle"
        class="w-full py-2 px-4 bg-blue-600 text-white font-semibold rounded-md shadow hover:bg-blue-700 disabled:bg-gray-300 disabled:cursor-not-allowed"
      >
        Téléverser
      </button>
    }@else{
      <div>Veuillez patienter pendant le chargement. Les informations sont en cours d'enregistrement dans la base de données."</div>
      <i class="spinner-border"></i>
    }
    </form>





  </div>
}@else if(id===0){
  <div class="max-w-md mx-auto p-6 bg-white rounded-lg shadow-md">
    <h2 class="text-xl font-semibold text-gray-800 mb-4">Télécharger la liste de la classe</h2>
    <form (submit)="onSubmitPdf()" class="space-y-4">
      
      <select
      id="schoolNiveau"
      [(ngModel)]="selectedSchoolNiveau"
      name="schoolNiveau"
      class="block w-full text-sm text-gray-500 border border-gray-300 rounded-md p-2"
      required
      (change)="onChangeOption()"
    >
      <option value="" disabled selected>Sélectionnez le niveau</option>
      <option *ngFor="let type of schoolNiveaux" [value]="type">{{ type }}</option>
    </select>


    <select
      id="schoolClass"
      [(ngModel)]="selectedSchoolClass"
      name="schoolClass"
      class="block w-full text-sm text-gray-500 border border-gray-300 rounded-md p-2"
      required
    >
      <option value="" disabled selected>Sélectionnez la classe</option>
      <option *ngFor="let classe of schoolTypesClass" [value]="classe">{{ classe }}</option>
    </select>




      <button
        type="submit"
        [disabled]="!selectedSchoolClass"
        class="w-full py-2 px-4 bg-blue-600 text-white font-semibold rounded-md shadow hover:bg-blue-700 disabled:bg-gray-300 disabled:cursor-not-allowed"
      >
        Télécharger
      </button>
    </form>
  </div>

}