body {
  background-color: $background-color;
}


.alert-danger {
  background-color: $danger-color;
  color: $secondary-color;
}

.btn-light {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;

  span {
    margin-right: 8px;
  }
}

.table-bordered {
  background-color: $secondary-color;

  th, td {
    text-align: center;
  }

  .badge {
    font-size: 0.9rem;
    padding: 5px 10px;
  }
}
