<div class="container">
  <div class="row text-center mb-4">
    <div class="col-md-3">
      <h5>Nombre étudiants</h5>
      <p class="display-6">2 000</p>
    </div>
    <div class="col-md-3">
      <h5>Nombre de transfert</h5>
      <p class="display-6">400</p>
    </div>
    <div class="col-md-3">
      <h5>Revenus total</h5>
      <p class="display-6">10 000 000</p>
    </div>
    <div class="col-md-3">
      <h5>Dette</h5>
      <p class="display-6">100 000</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h4>Aperçu des étudiants</h4>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">N°</th>
          <th scope="col">Nom complet</th>
          <th scope="col">Classe</th>
          <th scope="col">Régulière</th>
          <th scope="col">Paiement</th>
          <th scope="col">Date mise à jour</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mohamed Coulibaly</td>
          <td>1 eme</td>
          <td>R</td>
          <td><span class="badge bg-primary">NORMAL</span></td>
          <td>01 oct 2024</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Abdoulaye Cissé</td>
          <td>1 eme</td>
          <td>R</td>
          <td><span class="badge bg-success">AVANCE</span></td>
          <td>01 oct 2024</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Mariame Diallo</td>
          <td>1 eme</td>
          <td>R</td>
          <td><span class="badge bg-danger">RETARD</span></td>
          <td>01 oct 2024</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <h4>Notifications</h4>
      <div class="p-3 border rounded">
        <p><strong>Nouvelle inscription</strong> : Moussa Camara</p>
        <p><strong>Paiement</strong> : Mariame Diallo</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Aperçu des paiement</h4>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">N°</th>
          <th scope="col">Nom complet</th>
          <th scope="col">Classe</th>
          <th scope="col">Régulière</th>
          <th scope="col">Paiement</th>
          <th scope="col">Date mise à jour</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mohamed Coulibaly</td>
          <td>1 eme</td>
          <td>R</td>
          <td><span class="badge bg-primary">NORMAL</span></td>
          <td>01 oct 2024</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Abdoulaye Cissé</td>
          <td>1 eme</td>
          <td>R</td>
          <td><span class="badge bg-success">AVANCE</span></td>
          <td>01 oct 2024</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Mariame Diallo</td>
          <td>1 eme</td>
          <td>R</td>
          <td><span class="badge bg-danger">RETARD</span></td>
          <td>01 oct 2024</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
