<div class="container">
  <!-- Statistiques en haut -->
  @if (user!=undefined && user.roles!=undefined && user.roles[0] === 'ROLE_ADMIN') {
    <div class="row text-center mb-4">

      <div class="col mb-3">
        <div class="p-4 bg-light rounded shadow-sm">
          <h5>Fondamentale</h5>
          <p class="text-xl fw-bold text-primary">
            {{ pStudents.length }}
          </p>
        </div>
      </div>

      <div class="col mb-3">
        <div class="p-4 bg-light rounded shadow-sm">
          <h5>Lycée/Professionnelle</h5>
          <p class="text-xl fw-bold text-primary">
            {{ hStudents.length }}
          </p>
        </div>
      </div>
      <div class="col mb-3">
        <div class="p-4 bg-light rounded shadow-sm">
          <h5>Étatique</h5>
          <p class="text-xl fw-bold text-success">
            {{ studentT.length }}
          </p>
        </div>
      </div>

      </div>
      <div class="row text-center mb-4">
      <div class="col mb-3">
        <div class="p-4 bg-light rounded shadow-sm">
          <h5>Inscription</h5>
          <p class="text-xl fw-bold text-info">
            {{ fees | number:"1.0-0" }} FCFA
          </p>
        </div>
      </div>

      <div class="col mb-3">
        <div class="p-4 bg-light rounded shadow-sm">
          <h5>Revenus versés</h5>
          <p class="text-xl fw-bold text-success">{{ amountPay | number:"1.0-0" }} FCFA</p> 
        </div>
      </div>
      <div class="col mb-3">
        <div class="p-4 bg-light rounded shadow-sm">
          <h5>Revenus Totale Annuelle(Privé)</h5>
          <p class="text-xl fw-bold text-success">{{ monthTotalAnnuelle | number:"1.0-0" }} FCFA</p>
        </div>
      </div>
    </div>
  }


  <!-- Tableau aperçu des étudiants -->
  <div class="row">
    <div class="col-md-8 mb-4">
      <h4 class="mb-3">Aperçu des élèves</h4>
      <div class="table-responsive shadow-lg rounded bg-white p-3">
        <table class="table custom-table table-hover">
          <thead>
          <tr>
            <th scope="col">N°</th>
            <th scope="col">Photo</th>
            <th scope="col">Nom complet</th>
            <th scope="col">Classe</th>
            <th scope="col">Parents</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Date</th>
            <th scope="col">Voir</th>
          </tr>
          </thead>
          <tbody>
            @if (students && students.length !== 0) {
              @for (student of students | slice: (studentPage - 1) * pageSize : studentPage * pageSize; track student; let i = $index) {
                <tr>
                  <th scope="row">{{ i + 1 }}</th>
                  <td>
                    @if (student.photoPath != undefined) {
                      <img src="{{ student.photoPath }}" alt="{{ student.photoName }}" class="student-photo">
                    } @else {
                      <img src="images/no-profile.png" alt="no-profile.png" class="student-photo">
                    }
                  </td>
                  <td>{{ student.prenom + ' ' + student.nom }}</td>
                  <td>{{ student.classe }}</td>
                  <td>{{ student.prenomPere + ' ' + student.nomPere }}</td>
                  <td>{{ student.tel1 }}</td>
                  <td>01 Oct 2024</td>
                  @if (student.matricule !== "Étatique") {
                    <td class="text-center">
                      <a routerLink="/dash/detail-student/{{ student.id }}" class="view-icon">
                        <i class="fas fa-eye"></i>
                      </a>
                    </td>
                  }
                </tr>
              }
            }
          </tbody>
        </table>

        <ngb-pagination class="pagination-custom d-flex justify-content-end mt-5 px-2"
                        [(page)]="studentPage" [pageSize]="6" [maxSize]="5"
                        [boundaryLinks]="true" [collectionSize]="students.length">
        </ngb-pagination>
      </div>

    </div>

    <!-- Notifications -->
    <div class="col-md-4">
      @if (user!=undefined && user.roles!=undefined && user.roles[0] === "ROLE_ADMIN") {
        <h5 class="text-primary mb-3">Nouvelles Notifications</h5>
      }@else {
        <div class="flex justify-between">
          <h5 class="text-danger mb-3">Les élèves en retard</h5>
          <button routerLink="late-payment" class="text-white rounded-lg px-2 bg-blue-500 mb-2" href="">Voir plus</button>
        </div>
      }
      <app-sidebar></app-sidebar>
    </div>
  </div>

  <!-- Tableau aperçu des paiements -->
  <div class="row">
    <div class="col-md-12">
      <h4 class="mb-3">Aperçu des paiements</h4>
      <div class="table-responsive shadow-sm rounded">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">
              N°
            </th>
            <th scope="col" class="px-6 py-3">
              Nom d'eleve
            </th>
            <th scope="col" class="px-6 py-3">
              Classe
            </th>
            <th scope="col" class="px-6 py-3">
              Motif de paiement
            </th>
            <th scope="col" class="px-6 py-3">
              Mois
            </th>
            <th scope="col" class="px-6 py-3">
              Status
            </th>
            <th scope="col" class="px-6 py-3">
              Montant
            </th>
            <th scope="col" class="px-6 py-3">
              Montant Restant
            </th>
            <th scope="col" class="px-6 py-3">
              Date du paiement
            </th>
            <th scope="col" class="px-6 py-3">
              Voir
            </th>

          </tr>
          </thead>
          <tbody>
            @if (payments.length !== 0) { 
              @for (payment of payments | slice: (paymentPage - 1) * pageSize : paymentPage * pageSize; track payment; let i = $index) {
                <tr
                  class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ i + 1 }}
                  </th>
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ payment.student.prenom + ' ' + payment.student.nom }}
                  </th>
                  <td class="px-6 py-4">
                    {{ payment.student.classe }}
                  </td>
                  <td class="px-6 py-4">
                    {{ payment.paymentReason }}
                  </td>
                  <td class="px-6 py-4">
                    {{ payment.month }}
                  </td>
                  @if (payment.paymentStatus === 'avance') {
                    <td><span class="badge bg-success">Avance</span></td>
                  } @else if (payment.paymentStatus === 'normal') {
                    <td><span class="badge bg-primary">Normal</span></td>
                  } @else {
                    <td><span class="badge bg-danger">Retard</span></td>
                  }
                  <td class="px-6 py-4">
                    {{ payment.amount | number:"1.0-0" }} FCFA
                  </td>
                  <td class="px-6 py-4">
                    {{ payment.totalAnnualCosts | number:"1.0-0" }} FCFA
                  </td>
                  <td class="px-6 py-4">
                    {{ payment.create_at | date }}
                  </td>
                  <td class="text-red-400">
                    <a routerLink="/dash/detail-student/{{payment.register_student_id}}"><i
                      class="fas fa-eye text-red-400"></i></a>
                  </td>
                </tr>
              }

            }
          </tbody>
        </table>
        <ngb-pagination class="d-flex justify-content-end mt-5 px-2" [(page)]="paymentPage"
                        [pageSize]="pageSize" [maxSize]="5" [boundaryLinks]="true"
                        [collectionSize]="payments.length"/>
      </div>
    </div>
  </div>
</div>
