<div class="modal-content">
    <div class="modal-body">
        <h5 class="modal-title text-center">Suppression</h5>
        <p class="text-center">
          Nous vous informons que vous êtes sur le point de supprimer l'élève. Cette action est irréversible et entraînera la perte de toutes les données associées
          à l'élève, y compris ces payements.
        </p>
        <div class="button-box flex justify-center">
            <button (click)="deleteId()" class="w-1/2 bg-red-500 text-white fw-bold mx-auto p-2" id="delete_yes_btn" type="submit">
                Supprimer
            </button>
        </div>
    </div>
  </div>
  