<div class="modal-content">
  <div class="modal-header">
    <h3>Détails de l'utilisateur</h3>
  </div>
  <div class="modal-body">
    <div class="row mb-3">
      <div class="col-sm-6">
        <h6 class="text-muted">Nom</h6>
        <p class="text-dark">{{ user.nom }}</p>
      </div>
      <div class="col-sm-6">
        <h6 class="text-muted">Prénom</h6>
        <p class="text-dark">{{ user.prenom }}</p>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-6">
        <h6 class="text-muted">Téléphone</h6>
        <p class="text-dark">{{ user.tel }}</p>
      </div>
      <div class="col-sm-6">
        <h6 class="text-muted">Email</h6>
        <p class="text-dark">{{ user.mail }}</p>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-6">
        <h6 class="text-muted">Login</h6>
        <p class="text-dark">{{ user.loginEstablishment }}</p>
      </div>
      <div class="col-sm-6">
        <h6 class="text-muted">Rôles</h6>
        <p class="text-dark">{{ user.roles }}</p>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-6">
        <h6 class="text-muted">User Key</h6>
        <p class="text-dark">{{ user.userKey }}</p>
      </div>
    </div>
  </div>
</div>
